Popular Repositories
{% if repositories is not empty %}
    <ul>
        {% for repository in repositories %}
            <li>
                <p>
                    <a href="{{ repository.link }}">{{ repository.name }}</a>
                    <br>
                    {% if repository.description is not empty %}
                        {{ repository.description }}
                        <br>
                    {% endif %}
                    This repository has {{ repository.watchers }} stars and {{ repository.forks }} forks.
                </p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    -
{% endif %}